<%- include('../partials/header') %>

<form action="/campaigns/<%= campaign._id %>?_method=PUT" method="POST">
  <label>Name:
    <input type="text" name="name" value="<%= campaign.name %>">
  </label><br>


  <input type="submit" value="Save Changes">

</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
