<%- include('../partials/header') %>

<!-- <p><%= campaign.name %></p> -->
<!-- <p><%= campaign._id %></p> -->

<% if (user) { %>
<!-- <section id="show-campaign"> -->
    <table id="chars-list">
        <thead>
            <tr>
                <th>Characters:</th>
            </tr>
        </thead>
        <% campaignChars.forEach(function(character) { %>
            <tbody>
                <td><a href="/chars/<%= character._id %>"><%= character.name[0].toUpperCase() + character.name.substring(1) %>: Level <%= character.level %> <%= character.race[0].toUpperCase() + character.race.substring(1) %> <%= character.class[0].toUpperCase() + character.class.substring(1) %></a></td>
                <!-- <a href="/chars/<%= character._id %>">DETAILS</a> -->
                <td>
                    <form action="/campaigns/<%= campaign._id %>/chars?_method=PUT" method="POST">
                        <button id="remove-button" type="submit" name="charId" value="<%= character._id %>">Remove</button>
                    </form>
                </td>
            </tbody>
        <% }); %>
    </table>
<!-- </section> -->
<% if (usersChars.length > 0) { %>
    <form id="add-char-to-campaign" action="/campaigns/<%= campaign._id %>/chars" method="POST">
            <select name="charId">
                <!-- Creates an option for each character -->
                <% usersChars.forEach(function(uc) { %>
                    <% if (user?._id.equals(uc.user)) { %>
                        <option value="<%= uc._id %>"><%= uc.name %></option>
                    <% } %>
                <% }); %>
            </select>
        <button type="submit">Add Character</button>
    </form>
<% } %>
<br>
<br>
<br>
<section id="user-options">
    <% if (user?._id.equals(campaign.owner)) { %>
    <button class="user-options-button">
        <a href="/campaigns/<%= campaign._id %>/edit">EDIT CAMPAIGN</a>
    </button> 
    <form action="/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
        <button class="user-options-button" type="submit">DELETE CAMPAIGN</button>
    </form>
    <% } %>
</section>
<% } %>

<%- include('../partials/footer') %>