<%- include('../partials/header') %>

<!-- <p><%= campaign.name %></p> -->
<p><%= campaign._id %></p>

<section id="show-page">
    <label>Characters: <br>
        <% if (user) { %>
            <% campaignChars.forEach(function(character) { %>
                <div><%= character.name %>: Level <%= character.level %> <%= character.race %> <%= character.class %></div>
                <a href="/chars/<%= character._id %>">DETAILS</a>
                <form action="/campaigns/<%= campaign._id %>/chars?_method=PUT" method="POST">
                    <button type="submit" name="charId" value="<%= character._id %>">X</button>
                </form>
            <% }); %>
            <br>
            <form id="add-char-to-campaign" action="/campaigns/<%= campaign._id %>/chars" method="POST">
                <select name="charId">
                    <!-- Creates an option for each character -->
                    <% usersChars.forEach(function(uc) { %>
                        <% if (user?._id.equals(uc.user)) { %>
                            <option value="<%= uc._id %>"><%= uc.name %></option>
                        <% } %>
                    <% }); %>
                </select>
                <button type="submit">Add to Campaign</button>
            </form>
        <% } %>
    </label>
    <br>
    <section>
        <% if (user?._id.equals(campaign.owner)) { %>
            <button>
                <a href="/campaigns/<%= campaign._id %>/edit">EDIT CAMPAIGN</a>
            </button> 
            <form action="/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE CAMPAIGN</button>
            </form>
        <% } %>
    </section>
</section>
<%- include('../partials/footer') %>