<%- include('../partials/header') %>

<form action="/chars/<%= char._id %>?_method=PUT" method="POST">
  <label>Name:
    <input type="text" name="name" value="<%= char.name %>">
  </label><br>
  <label>Race:
    <input type="text" name="race" value="<%= char.race %>">
  </label><br>
  <label>Level:
    <input type="number" name="level" value="<%= char.level %>">
  </label><br>
  <label>Class:
    <select name="class">
      <option value="artificer">artificer</option>
      <option value="barbarian">barbarian</option>
      <option value="bard">bard</option>
      <option value="cleric">cleric</option>
      <option value="druid">druid</option>
      <option value="fighter">fighter</option>
      <option value="monk">monk</option>
      <option value="paladin">paladin</option>
      <option value="ranger">ranger</option>
      <option value="rogue">rogue</option>
      <option value="sorcerer">sorcerer</option>
      <option value="warlock">warlock</option>
      <option value="wizard">wizard</option>
  </select>
  </label><br>
  <label>HP:
    <input type="number" name="hp" value="<%= char.hp %>">
  </label><br>
  <label>AC:
    <input type="number" name="ac" value="<%= char.ac %>">
  </label><br>
  <label>Strength:
    <input type="number" name="str" value="<%= char.str %>">
  </label><br>
  <label>Dexterity:
    <input type="number" name="dex" value="<%= char.dex %>">
  </label><br>
  <label>Constitution:
    <input type="number" name="con" value="<%= char.con %>">
  </label><br>
  <label>Intelligence:
    <input type="number" name="int" value="<%= char.int %>">
  </label><br>
  <label>Wisdom:
    <input type="number" name="wis" value="<%= char.wis %>">
  </label><br>
  <label>Charisma:
    <input type="number" name="cha" value="<%= char.cha %>">
  </label><br>

  <input type="submit" value="Save Changes">

</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
