<%- include('../partials/header') %>

<form action="/chars/<%= char._id %>?_method=PUT" method="POST">
  <div id="edit-name">Name: <input type="text" name="name" value="<%= char.name %>"></div>
  <section id="show-char">
    <div>Level: <input type="number" name="level" value="<%= char.level %>"></div>
    <div>Race: <input type="text" name="race" value="<%= char.race %>"></div>
    <div>Class:
      <select name="class">
        <option value="artificer"<%= char.class === 'artificer' ? 'selected' : '' %>>Artificer</option>
        <option value="barbarian"<%= char.class === 'barbarian' ? 'selected' : '' %>>Barbarian</option>
        <option value="bard"<%= char.class === 'bard' ? 'selected' : '' %>>Bard</option>
        <option value="cleric"<%= char.class === 'cleric' ? 'selected' : '' %>>Cleric</option>
        <option value="druid"<%= char.class === 'druid' ? 'selected' : '' %>>Druid</option>
        <option value="fighter"<%= char.class === 'fighter' ? 'selected' : '' %>>Fighter</option>
        <option value="monk"<%= char.class === 'monk' ? 'selected' : '' %>>Monk</option>
        <option value="paladin"<%= char.class === 'paladin' ? 'selected' : '' %>>Paladin</option>
        <option value="ranger"<%= char.class === 'ranger' ? 'selected' : '' %>>Ranger</option>
        <option value="rogue"<%= char.class === 'rogue' ? 'selected' : '' %>>Rogue</option>
        <option value="sorcerer"<%= char.class === 'sorcerer' ? 'selected' : '' %>>Sorcerer</option>
        <option value="warlock"<%= char.class === 'warlock' ? 'selected' : '' %>>Warlock</option>
        <option value="wizard"<%= char.class === 'wizard' ? 'selected' : '' %>>Wizard</option>
    </select>
    </div>
  </section>
  
  <section id="hp-ac">
    <div>HP: <input type="number" name="hp" value="<%= char.hp %>"></div>
    <div>AC: <input type="number" name="ac" value="<%= char.ac %>"></div>
  </section>
  <section id="stats">
    <div>Strength: <br>
    <input type="number" name="str" value="<%= char.str %>">
    <% let str = Math.floor((char.str - 10) / 2)%>
    <small></small></div>

    <div>Dexterity: <br>
    <input type="number" name="dex" value="<%= char.dex %>">
    <% let dex = Math.floor((char.dex - 10) / 2)%>
    <small></small></div>

    <div>Constitution: <br>
    <input type="number" name="con" value="<%= char.con %>">
    <% let con = Math.floor((char.con - 10) / 2)%>
    <small></small></div>

    <div>Intelligence: <br>
    <input type="number" name="int" value="<%= char.int %>">
    <% let int = Math.floor((char.int - 10) / 2)%>
    <small></small></div>

    <div>Wisdom: <br>
    <input type="number" name="wis" value="<%= char.wis %>">
    <% let wis = Math.floor((char.wis - 10) / 2)%>
    <small></small></div>

    <div>Charisma: <br>
    <input type="number" name="cha" value="<%= char.cha %>">
    <% let cha = Math.floor((char.cha - 10) / 2)%>
    <small></small></div>

  </section>
  <button class="char-edit-button" type="submit">SAVE CHANGES</button>

</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
